.home-container {
    text-align: center;
}

.hero-container {
    height: 60vh;
    background: url('/images/hero-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-light);
    text-align: center;
}

.hero-content h1 {
    font-size: 36px;
    /* margin-bottom: 10px; */
    color: var(--font-color);
    margin: 30px;
}

.hero-content p {
    font-size: 18px;
    margin: 30px;
    max-width: 700px;
}

.btn-primary {
    padding: 12px 20px;
    background-color: var(--button-color);
    color: var(--font-color-light);
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: var(--button-color-hover);
}

/* Categories Section */
.categories {
    padding: 40px 20px;
}

.categories h1 {
    margin-bottom: 20px;
    font-weight: var(--weight);
}

.category-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.category-item {
    background: var(--font-color-light);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.category-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.category-item:hover {
    transform: scale(1.05);
}

/* Featured Products */
.featured-products {
    /* padding: 40px 20px; */
    background-color: var(--font-color-light);
}

.featured-products h1 {
    font-weight: var(--weight);
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.product-item {
    background: var(--font-color-light);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product-item img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.product-item span {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

/* CTA Section */
.cta {
    padding: 50px 20px;
    color: var(--font-color-dark);
}

.cta h1 {
    /* font-size: 28px; */
    margin-bottom: 30px;
    font-weight: var(--weight);
}

.cta p {
    font-size: 18px;
    margin: 20px;
}

.btn-secondary {
    padding: 12px 20px;
    background-color: var(--button-color-dark);
    color: var(--font-color-light);
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.btn-secondary:hover {
    background-color: var(--button-color-hover);
}

/* Why Choose US */
.why-choose-us {
    text-align: center;
    padding: 50px 20px;
    background: #f9f9f9;
}

.why-choose-us h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
    font-weight: var(--weight);
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature-card {
    background: #fff;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.icon {
    font-size: 2.5rem;
    color: #ff6600;
    margin-bottom: 10px;
}

.feature-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
}

.feature-card p {
    font-size: 0.95rem;
    color: #666;
}

/* Why Choose US End */

/* About US */

.about-us {
    text-align: center;
    padding: 60px 20px;
    background: #f9f9f9;
}

.about-content {
    max-width: 700px;
    margin: 0 auto;
}

.about-us h1 {
    /* font-size: 2rem; */
    margin-bottom: 20px;
    color: #333;
    font-weight: var(--weight);
}

.about-us p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    padding: 30px;
}

.about-us strong {
    color: var(--button-color);
    font-weight: var(--weight);
}

.cta-button {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #ff6600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: #e55d00;
}

/* About us END */


@media (max-width: 768px) {
    .hero-container {
        height: 70vh;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    }

    .hero h1 {
        font-size: 28px;
    }

    .category-grid,
    .product-grid {
        /* flex-direction: column; */
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .features-container {
        /* flex-direction: column;
        align-items: center; */

        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .feature-card {
        width: 90%;
        /* background-color: var(--second-color); */
    }

    .about-content {
        padding: 0 15px;
    }
}